@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
  display: flex;
  flex: 1 0 0;
  margin:auto
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  background: rgb(221, 221, 221);
}

.buttons {
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.input {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(221, 221, 221);
}

.left-links {
  display: flex;
  padding: 0;
  margin: 10px;
}

.right-links {
  display: flex;
  padding: 0;
  margin: 10px;
}

a {
  color: grey;
  text-decoration: none;
}